:root {
   --buttoncolor: #0d6efd;
   --pfontcolor: #a3a4a7;
   --aboutcolor: #f8f9fa;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   scroll-behavior: smooth;
}
header {
   position: sticky;
   top: 0;
   z-index: 10;
}
.heroSection {
   background-image: url(/assets/Imeges/Group\ 4.png);
   background-position: center;
   height: 92vh;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.heroSection h1 {
   font-size: 3rem;
   width: 500px;
   font-weight: 600;
   margin: 0 auto;
   padding: 40px 0;
   text-align: center;
   color: white;
}
.herobtn {
   width: 550px;
   margin: 0 auto;
}
.placeholders {
   padding: 30px 20px;
   font-size: larger;
   border-radius: 5px;
}
.aboutSection {
   padding: 70px 10px;
   background-color: var(--aboutcolor);
}

.imgs {
   height: 65px;
}
.aboutCard {
   text-align: center;
}
.aboutSection h3 {
   font-size: 1.8rem;
}
.aboutSection p {
   font-size: 1.2rem;
   font-weight: 300;
}
.blogSection {
   overflow: hidden;
}

.blog1 {
   padding: 0 135px;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.blog2 {
   padding: 0 !important;
}
.blogSection h2 {
   font-size: 2rem;
   padding-bottom: 5px;
}
.blogSection p {
   font-size: 1.2rem;
   font-weight: 300;
}
.teamSection {
   text-align: center;
   background-color: var(--aboutcolor);
   padding: 100px 0;
   overflow: hidden;
}
.profile {
   text-align: center;
   padding: 20px 0;
}
.teamSection h2 {
   padding-bottom: 70px;
}
.teamSection h3 {
   font-size: 1.5rem;
}
.signupSection {
   background-image: url(/assets/Imeges/Group\ 4.png);
   background-position: center;
   padding: 60px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.signupSection h2 {
   font-size: 2rem;
   padding: 20px 0;

   text-align: center;
   color: white;
}
footer {
   padding: 60px 0;
}
.icon {
   display: flex;
   justify-content: space-between;
}
.pic {
   padding: 10px;
}
.link {
   color: var(--buttoncolor);
}
.link2 {
   color: var(--pfontcolor);
}
