:root {
   --buttoncolor: #0d6efd;
   --pfontcolor: #a3a4a7;
   --aboutcolor: #f8f9fa;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   scroll-behavior: smooth;
}
header {
   position: sticky;
   top: 0;
   z-index: 10;
}
.heroSection {
   background-image: url(/assets/Imeges/Group\ 4.png);
   background-position: center;
   height: 92vh;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.heroSection h1 {
   font-size: 3rem;
   width: 500px;
   font-weight: 600;
   margin: 0 auto;
   padding: 40px 0;
   text-align: center;
   color: white;
}
.herobtn {
   margin: 0 auto;
}
.placeholders {
   padding: 30px 20px;
   font-size: larger;
   border-radius: 5px;
}
.aboutSection {
   padding: 70px 10px;
   background-color: var(--aboutcolor);
}

.imgs {
   height: 65px;
}
.aboutCard {
   text-align: center;
}
.aboutSection h3 {
   font-size: 1.8rem;
}
.aboutSection p {
   font-size: 1.2rem;
   font-weight: 300;
}
.about {
   padding: 0 80px;
}
.blogSection {
   overflow: hidden;
}

.blog1 {
   padding: 0 135px;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.blog2 {
   padding: 0 !important;
}
.blogSection h2 {
   font-size: 2rem;
   padding-bottom: 5px;
}
.blogSection p {
   font-size: 1.2rem;
   font-weight: 300;
}
.team {
   padding: 0 70px;
}
.teamSection {
   text-align: center;
   background-color: var(--aboutcolor);
   padding: 100px 0;
   overflow: hidden;
}
.profile {
   text-align: center;
   padding: 20px 0;
}
.teamSection h2 {
   padding-bottom: 70px;
}
.profile1 img {
   box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.teamSection h3 {
   margin-top: 10px;

   font-size: 1.5rem;
}
.signupSection {
   background-image: url(/assets/Imeges/Group\ 4.png);
   background-position: center;
   padding: 60px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.signupSection h2 {
   font-size: 2rem;
   padding: 20px 0;

   text-align: center;
   color: white;
}
footer {
   padding: 45px 0;
}
.icon {
   display: flex;
   justify-content: space-between;
}
.pic {
   padding: 10px;
}
.link {
   color: var(--buttoncolor);
}
.link2 {
   color: var(--pfontcolor);
}

@media (max-width: 991.98px) {
   .heroSection h1 {
      padding: 20px 40px;
      font-size: 2.2rem;
      width: 100%;
   }
   .herobtn {
      margin: 0 auto;
      padding: 0 50px;
   }
   .blog1 {
      text-align: left;
      padding: 100px 115px;
   }
   .blog2 {
      width: 100%;
   }
   .signupSection h2 {
      font-size: 2rem;
      width: 100%;
   }
   .signbtn {
      margin: 0 auto;
      width: 75vw;
   }
}
@media (max-width: 767.98px) {
   .heroSection {
      height: 60vh;
   }
   .profile1 {
      padding: 15px 0;
   }
   .aboutCard {
      padding: 15px 0;
   }
   .link {
      font-size: 0.7rem;
   }
   .link2 {
      font-size: 0.6rem;
   }
   .pic {
      padding: 15px;
   }
}
@media (max-width: 575.98px) {
}
